:root {
  --main-color: #452b1a;
  --background: #f6eee9;
}

body {
  background-color: #ffffff;
}

h3,
h1,
h4,
.first-screen-link {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
}

h1 {
  font-size: 85px;
  margin: 57px 0px;
}

h3 {
  font-size: 48px;
  margin: 48px 0px;
}

h4 {
  font-size: 35px;
  margin: 48px 0px;
}

.first-screen-link {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  background: var(--main-color);
  color: var(--background);
  border-radius: 15px;
  padding: 10px 20px;
  border: 1px solid;
  text-decoration: none;
  max-width: 15%;
}

.icon {
  font-size: 40px;
  margin: 30px 10px;
  display: flex;
  justify-content: center;
  color: var(--main-color);
}

.first-sight {
  text-align: center;
  background-color: var(--background);
  padding: 150px 20px;
}
